language: node_js

repo_token: FoZO2GHuaZIz5j1cd4cqBMYPTAo273KTt

node_js:  

  - 0.10.35

services: 
  - redis

script: npm test

after_script: npm run cov

after_success:
  "curl -L -l https://coveralls.io/repos/github/navyxie/redlock-node/badge.svg?branch=master"